
header > nav > ul:first-child {
  float: left;
}

header > nav > ul:first-child a em {
  display: none;
}

header > nav > p {
  float: left;
  margin: 0 1em;
}

section > footer > span.alignright > a {
  margin: 0 0.5em;
}

section a[href="#"] {
  text-decoration: line-through;
}
